

img {
    margin: 0 auto 10px;
    display: block;
}

.image {
    float: right;
}







@keyframes pulse {
    0% {
        transform: translate(-50%, -50%) scale(1);
        box-shadow: 0 0 0 rgba(12, 107, 91, 0.7);
    }

    70% {
        transform: translate(-50%, -50%) scale(1.1);
        box-shadow: 0 0 10px rgba(12, 107, 91, 0.7);
    }

    100% {
        transform: translate(-50%, -50%) scale(1);
        box-shadow: 0 0 0 rgba(12, 107, 91, 0.7);
    }

}

@keyframes letter-breathe {

    /* The 'from' and 'to' keyframes establish the initial and final states of the animation, respectively, using 'font-variation-settings'. This CSS property is used with variable fonts to adjust their weight ('wght'), width ('wdth'), etc., during the animation. */
    from,
    to {
        /* Starting weight; adjust the numbers according to your specific font */
        font-variation-settings: 'wght' 100;
    }

    /* At the midpoint (50%) of the animation, the font weight changes to 900. */
    50% {
        /* Ending weight; adjust the numbers according to your specific font */
        font-variation-settings: 'wght' 900;
    }
}




@keyframes tada {
    0% {
        transform: scale(0.9);
        opacity: 0;
    }

    50% {
        transform: scale(1.1);
        opacity: 1;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

footer {
    position: relative;
    bottom: 0px;
    width: 100%;
    background-color: #0f0f0f;
    color: white;
    text-align: center;
    padding: 10px 0;
    font-size: 14px;
    z-index: 0;
}

.socials {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    list-style: none;

}

.experience {
    margin: 30px;
}

@media screen and (max-width: 900px) {
    .experience h3 {
        font-size: 40px;
    }

    body p {
        font-size: 16px;

    }

    .avis p {
        font-size: 12px;
    }

}