


@media screen and (max-width: 968px) {
    .recherche-multicriteres ::placeholder {
        font-size: 0.5em;
        /* Taille de police réduite pour les petits écrans */
    }

}


@media screen and (max-width: 968px) {
    .hero-scene-content {
        display: none;
    }


    h1 {
        font-size: 0.5em;
        /* Taille de police réduite pour les petits écrans */
    }

    p {
        font-size: 0.5em;
        /* Taille de police légèrement réduite pour les petits écrans */
    }

    .recherche-multicriteres input {

        width: 100%;
    }



    .icon {
        display: none;
    }


}